<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Storybook</title>
    <div th:replace="master :: head"></div>
    <link rel="stylesheet" th:href="@{/css/end-page.css}"/>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="master :: admin-header"></div>
    <div th:replace="master :: admin-aside"></div>

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="end-page">
                <h1 class="end-page__heading" th:text="${conclusionPageModel.title}"></h1>
                <div class="end-page__author">
                    <h3 th:inline="text">BY [[${conclusionPageModel.author}]]</h3>
                </div>

                <p class="end-page__description"
                   th:if="${!#strings.isEmpty(conclusionPageModel.text) && conclusionPageModel.hasText == 1}"
                   th:text="${conclusionPageModel.text}">
                </p>

                <div class="end-page__image">
                    <img
                            th:if="${conclusionPageModel != null && conclusionPageModel.hasText == 0 && !#strings.isEmpty(conclusionPageModel.base64Image)}"
                            th:src="|data:image/png;base64,${conclusionPageModel.base64Image}|" alt="Image">
                </div>
                <div style="float: right;margin-top: 20px;margin-right: 20px;">
                    <a th:href="@{/admin/storybooks/{id}(id=${storyBookId}, page=(${page - 1}))}"
                       class="btn btn-primary btn-lg"><i class="fa fa-arrow-left"></i> Previous
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- DataTables -->

<!-- SlimScroll -->
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/js/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<!-- page script -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</body>

</html>