<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Share document</title>
    <div th:replace="master :: head"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="master :: user-header"></div>
    <div th:replace="master :: user-aside"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--<section class="content-header">
            <div style="display: inline;" class=" alert alert-danger" th:inline="text"
                 th:if="${!#strings.isEmpty(error)}">
                [[${error}]]
            </div>
            <div style="display: inline;" class="alert alert-success" th:inline="text" th:if="${!#strings.isEmpty(ResultMessage)}">
                [[${ResultMessage}]]
            </div>
        </section>-->

        <section class="content">
            <div>
                <div class="container">
                    <div class="row">
                        <form autocomplete="off" action="#" th:action="@{/storybooks/share}"
                              th:object="${shareStoryBook}" method="post" class="form-horizontal"
                              role="form">
                            <fieldset>
                                <legend>Share Document</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="document">Storybook</label>
                                    <div class="col-md-4">
                                        <select class="form-control" th:field="${shareStoryBook.id}"
                                                id="document">
                                            <option value="0">-- Select Storybook --</option>
                                            <option th:each="story : ${storyBooks}"
                                                    th:value="${story.id}"
                                                    th:text="${story.storyBookName + ' - ' + story.categoryName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div th:if="${mode == null || mode != 'outside'}" class="form-group">
                                    <label class="col-md-4 control-label" for="user">User</label>
                                    <div class="col-md-4">
                                        <select class="form-control" th:field="${shareStoryBook.receiverEmail}"
                                                id="user">
                                            <option value="0">-- Select User --</option>
                                            <option th:each="u : ${users}"
                                                    th:value="${u.email}"
                                                    th:text="${u.name + ' - ' + u.email}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div th:if="${mode == 'outside'}" class="form-group">
                                    <label class="col-md-4 control-label" for="email">User Email</label>
                                    <div class="col-md-4">
                                        <input type="text" id="email" th:field="${shareStoryBook.receiverEmail}"
                                               placeholder="Email" class="form-control"/>
                                    </div>
                                </div>

                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submitButton"></label>
                                    <div class="col-md-4">
                                        <div>
                                            <span style="color: green; font-weight: bold" th:inline="text"
                                                  th:if="${!#strings.isEmpty(ResultMessage)}">
                                                [[${ResultMessage}]]
                                            </span>
                                            <span style="color: red; font-weight: bold" th:inline="text"
                                                  th:if="${!#strings.isEmpty(error)}">
                                                [[${error}]]
                                            </span>
                                            <span style="color: red; font-weight: bold" th:inline="text"
                                                  th:if="${!#strings.isEmpty(storybookError)}">
                                                [[${storybookError}]]
                                            </span>
                                            <!--<span style="color: green; font-weight: bold"
                                                  th:utext="${ResultMessage}"></span>
                                            <span style="color: red; font-weight: bold" th:utext="${error}"></span>
                                            <span style="color: red; font-weight: bold"
                                                  th:utext="${storybookError}"></span>-->
                                        </div>
                                        <div style="display: inline;">
                                            <button type="submit"
                                                    th:disabled="${storyBooks == null || storyBooks.isEmpty()}"
                                                    id="submitButton"
                                                    name="submitButton"
                                                    class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-share"></span> Share
                                            </button>
                                        </div>
                                        <div th:if="${mode == null || mode != 'outside'}" style="display: inline;">
                                            <button type="submit"
                                                    th:disabled="${storyBooks == null || storyBooks.isEmpty()}"
                                                    id="submitAll" th:formaction="@{/storybooks/share-all}"
                                                    name="submitAll"
                                                    class="btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-share"></span> All Users
                                            </button>
                                        </div>
                                        <div style="display:inline;">
                                            <div th:if="${storybookError == null}" style="display: inline;">
                                                <div th:if="${mode == null || mode != 'outside'}"
                                                     style="display: inline;">
                                                    <a class="btn btn-warning btn-sm"
                                                       th:disabled="${storyBooks == null || storyBooks.isEmpty()}"
                                                       th:href="@{/storybooks/share(mode=outside)}">
                                                        Outside enRemembrance
                                                    </a>
                                                </div>
                                                <div th:if="${mode == 'outside'}" style="display: inline;">
                                                    <a class="btn btn-primary btn-sm"
                                                       th:disabled="${storyBooks == null || storyBooks.isEmpty()}"
                                                       th:href="@{/storybooks/share}">
                                                        Inside enRemembrance
                                                    </a>
                                                </div>
                                            </div>
                                            <div th:if="${storyBooks == null || storyBooks.isEmpty()}"
                                                 style="float: right;">
                                                <a class="btn btn-primary btn-sm"
                                                   th:href="@{/storybooks/create}">
                                                    <span class="glyphicon glyphicon-plus-sign"></span> Create Storybook
                                                </a>
                                            </div>
                                            <div style="display: inline;">
                                                <button type="button" class="btn btn-inverse"
                                                        onclick="window.history.back()">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- DataTables -->

<!-- SlimScroll -->
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/js/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<!-- page script -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="@{/js/bootstrap-select.min.js}"></script>
<script>
    $(function () {
        $('#example1').DataTable({
            "ordering": false
        });
        $('#table2').DataTable();
    });
</script>
</body>
</html>
