<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Document Shared</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css'/>

    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0"
       width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
            <img th:src="'cid:logo'" alt="http://memorynotfound.com"
                 style="display: block;"/>
        </td>
    </tr>
</table>

<div>
    <h3 th:inline="text">Hello [[${name}]]!</h3>
    <h4 th:inline="text">Please click <a th:href="@{${url}}">here</a> to verify your email address.</h4>
    <p th:inline="text">Please note this link will expire after [[${expiryDays}]] days.</p>
</div>
</body>
</html>
